<div class="content-top">
  <div class="corona-info gs-container">
    <div class="corona-line"></div>
    <div class="corona-info__header">
      {{#header}}
      <div class="corona-info__header__meta">
        <a href="https://www.theguardian.com/world/coronavirus-outbreak"
          class="corona-info__header__meta__tag">{{{tag}}}</a>
        <div class="content__meta-container content__meta-container--twitter js-content-meta u-cf
            ">
          <div class="meta__contact-wrap">
            <p class="byline" data-link-name="byline" data-component="meta-byline"><span itemscope=""
                itemtype="http://schema.org/Person" itemprop="author">
                <a rel="author" class="tone-colour" itemprop="sameAs" data-link-name="auto tag link"
                  href="https://www.theguardian.com/profile/michael-mcgowan"><span itemprop="name">Michael
                    McGowan</span></a></span></p>
            <div class="meta__twitter meta__contact-method">
              <a href="https://twitter.com/mmcgowan" data-link-name="twitter-handle"
                data-component="meta-twitter-handle">
                <!-- <span class="inline-twitter-bird inline-icon i-left">
                  <svg width="14" height="14" viewBox="-298 390 14 14"
                    class="i-left__svg inline-twitter-bird__svg inline-icon__svg">
                    <path
                      d="M-284 392.6c-.5.2-1.1.4-1.6.5.6-.4 1-.9 1.3-1.6-.6.3-1.2.6-1.8.7-.5-.6-1.3-.9-2.1-.9-1.6 0-2.9 1.3-2.9 2.9 0 .2 0 .4.1.7-2.4-.1-4.5-1.3-5.9-3-.2.4-.4.9-.4 1.4 0 1 .5 1.9 1.3 2.4-.5 0-.9-.1-1.3-.4 0 1.4 1 2.6 2.3 2.8-.2.1-.5.1-.8.1-.2 0-.4 0-.5-.1.4 1.1 1.4 2 2.7 2-1 .8-2.2 1.2-3.6 1.2h-.7c1.3.8 2.8 1.3 4.4 1.3 5.3 0 8.2-4.4 8.2-8.2v-.4c.3-.2.8-.8 1.3-1.4">
                    </path>
                  </svg>
                </span> -->
                @mmcgowan
              </a>
            </div>
            <p class="content__dateline" aria-hidden="true">
              <time itemprop="datePublished" datetime="2020-03-12T03:27:03-0400" data-timestamp="1583998023000"
                class="content__dateline-wpd js-wpd content__dateline-wpd--modified">
                Thu 12 Mar 2020 <span class="content__dateline-time">03.27&nbsp;EDT</span>
              </time>
              <time datetime="2020-03-11T21:47:11-0400" data-timestamp="1583977631000"
                class="content__dateline-lm js-lm u-h">
                First published on Wed 11 Mar 2020 <span class="content__dateline-time">21.47&nbsp;EDT</span>
              </time>
            </p>
            <meta itemprop="dateModified" content="2020-03-12T04:24:13-0400">
          </div>
          <div class="meta__extras">
            <div class="meta__social" data-component="share">
              <ul class="social social--top js-social--top u-unstyled u-cf" data-component="social">
                <li class="social__item social__item--facebook " data-link-name="facebook">
                  <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top"
                    href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2020%2Fmar%2F12%2Ftom-hanks-coronavirus-actor-and-wife-rita-wilson-test-positive-in-australia%3FCMP%3Dshare_btn_fb"
                    target="_blank" title="Facebook">
                    <span class="inline-icon__fallback button">Share on Facebook</span>
                    <span
                      class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">
                      <svg width="32" height="32" viewBox="-2 -2 32 32"
                        class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">
                        <path
                          d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z">
                        </path>
                      </svg>
                    </span>
                  </a>
                </li>
                <li class="social__item social__item--twitter " data-link-name="twitter">
                  <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top"
                    href="https://twitter.com/intent/tweet?text=Tom%20Hanks%20and%20wife%20Rita%20Wilson%20test%20positive%20for%20coronavirus%20in%20Australia&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2020%2Fmar%2F12%2Ftom-hanks-coronavirus-actor-and-wife-rita-wilson-test-positive-in-australia%3FCMP%3Dshare_btn_tw"
                    target="_blank" title="Twitter">
                    <span class="inline-icon__fallback button">Share on Twitter</span>
                    <span
                      class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">
                      <svg width="32" height="32" viewBox="-2 -2 32 32"
                        class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">
                        <path
                          d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z">
                        </path>
                      </svg>
                    </span>
                  </a>
                </li>
                <li class="social__item social__item--email " data-link-name="email">
                  <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top"
                    href="mailto:?subject=Tom%20Hanks%20and%20wife%20Rita%20Wilson%20test%20positive%20for%20coronavirus%20in%20Australia&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fworld%2F2020%2Fmar%2F12%2Ftom-hanks-coronavirus-actor-and-wife-rita-wilson-test-positive-in-australia%3FCMP%3Dshare_btn_link"
                    target="_blank" title="Email">
                    <span class="inline-icon__fallback button">Share via Email</span>
                    <span
                      class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">
                      <svg width="32" height="32" viewBox="0 0 32 32"
                        class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">
                        <path
                          d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z">
                        </path>
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="meta__numbers">
              <div class="meta__number js-sharecount" title="Facebook: 3119">
                <div class="sharecount__heading"><span class="inline-share inline-icon"><svg width="12" height="12"
                      viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.073 8.4c-.475 0-.906.19-1.225.497l-5.308-2.676.015-.221-.015-.221 5.308-2.676c.319.308.75.497 1.225.497.982 0 1.778-.806 1.778-1.8s-.796-1.8-1.778-1.8-1.778.806-1.778 1.8l.016.233-5.299 2.675c-.32-.313-.755-.507-1.236-.507-.982 0-1.778.806-1.778 1.8s.796 1.8 1.778 1.8c.48 0 .915-.194 1.236-.507l5.299 2.675-.016.233c0 .994.796 1.8 1.778 1.8s1.778-.806 1.778-1.8-.796-1.8-1.778-1.8zm0-7.68c.588 0 1.067.484 1.067 1.08 0 .596-.479 1.08-1.067 1.08s-1.067-.484-1.067-1.08c0-.596.479-1.08 1.067-1.08zm0 10.56c-.588 0-1.067-.484-1.067-1.08 0-.596.479-1.08 1.067-1.08s1.067.484 1.067 1.08c0 .596-.479 1.08-1.067 1.08z">
                      </path>
                    </svg></span><span class="sharecount__text u-h">Shares</span></div>
                <div class="sharecount__value sharecount__value--full">3,119</div>
                <div class="sharecount__value sharecount__value--short">3119</div>
              </div>
              <div class="u-h meta__number" data-discussion-id="/p/de9g2" data-commentcount-format="content"
                data-discussion-closed="true">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="corona-info__header__main content__main-column">
        <h1 class="corona-info__header__main__headline">{{{headline}}}</h1>
        <p class="corona-info__header__main__standfirst">{{{standfirst}}}</p>
      </div>
      {{/header}}
    </div>

    <div class="corona-info__sections content__main-column">
      <div class="corona-info__sections__one">
        <div class="corona-info__sections__one-content panel-one" id="content-one">
          {{#blockonecopy}}
          <h2 class="corona-info__sections__headline">{{sectionheadline}}</h2>
          <span>{{{video}}}</span>
          <div class="media-primary">
            <figure class="element element-atom element-atom--main-media element-atom--media"
              data-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1" data-atom-type="media">
              <div data-media-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-3jpXAMwRSu4" data-asset-id="3jpXAMwRSu4" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/ad5695715e38c31d641f57a279d36537b99be929/0_336_4011_2406/master/4011.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=264288bc07144b940cc8d02cbad40679)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg>
                    </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">
                      4:31
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </div>
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockonecopy}}
        </div>
        <div class="corona-info__sections__one-button open-button accordion-one" id="button-one">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__two">
        <div class="corona-info__sections__two-content panel-two" id="content-two">
          {{#blocktwo}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <img src="{{image}}">
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blocktwo}}
        </div>
        <div class="corona-info__sections__two-button open-button accordion-two" id="button-two">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__three">
        <div class="corona-info__sections__three-content panel-three" id="content-three">
          {{#blockthree}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <img src="{{image}}">
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <div class="media-primary player">
            <figure data-component="main video">
              <meta itemprop="name" content="How to stop the spread of coronavirus – video explainer" />
              <meta itemprop="headline" content="How to stop the spread of coronavirus – video explainer" />
              <meta itemprop="url"
                content="https://www.theguardian.com/world/video/2020/mar/04/how-to-slow-the-spread-of-coronavirus-video-explainer" />
              <meta itemprop="description"
                content="As the world faces rising Covid-19 infections, Guardian health editor Sarah Boseley discusses what we can do to prevent its transmission" />
              <meta itemprop="about"
                content="As the world faces rising Covid-19 infections, Guardian health editor Sarah Boseley discusses what we can do to prevent its transmission" />
              <meta itemprop="datePublished" content="2020-03-04" />
              <meta itemprop="name" content="How to stop the spread of coronavirus – video explainer" />
              <meta itemprop="uploadDate" content="2020-03-04" />
              <meta itemprop="duration" content="PT271S" />
              <meta itemprop="requiresSubscription" content="false" />
              <meta itemprop="image"
                content="https://i.guim.co.uk/img/media/9213223c0ce3d9b206551a16c2bffe1cee904cec/0_59_1814_1021/1814.jpg?width=1280&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a50861388a67c4126ba44b7b3680895a" />
              <meta itemprop="thumbnail"
                content="https://i.guim.co.uk/img/media/9213223c0ce3d9b206551a16c2bffe1cee904cec/19_0_1783_1070/master/1783.jpg?width=460&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=501fc38b93de5bec23806800f8419754" />
              <meta itemprop="thumbnailUrl"
                content="https://i.guim.co.uk/img/media/9213223c0ce3d9b206551a16c2bffe1cee904cec/19_0_1783_1070/master/1783.jpg?width=460&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=501fc38b93de5bec23806800f8419754" />
              <div data-media-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-3jpXAMwRSu4" data-asset-id="3jpXAMwRSu4" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/9213223c0ce3d9b206551a16c2bffe1cee904cec/0_59_1814_1021/1814.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9735645dcf67891b11ee7ba680e17907)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg>
                    </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">4:31</div>
                  </div>
                </div>
              </div>
            </figure>
          </div>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockthree}}
        </div>
        <div class="corona-info__sections__three-button open-button accordion-three" id="button-three">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__four">
        <div class="corona-info__sections__four-content panel-four" iod="content-four">
          {{#blockfour}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <img src="{{image}}">
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockfour}}
        </div>
        <div class="corona-info__sections__four-button open-button accordion-four" id="button-four">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__five">
        <div class="corona-info__sections__five-content panel-five" iod="content-five">
          {{#blockfive}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <div class="media-primary">
            <figure class="element element-atom element-atom--media" data-atom-id="bce7d1f1-9db5-47e1-b3ca-04ae6e48b596"
              data-atom-type="media">
              <div data-media-atom-id="bce7d1f1-9db5-47e1-b3ca-04ae6e48b596"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-xVLdDA6WWrA" data-asset-id="xVLdDA6WWrA" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/c84481531354805e1ad0bb7ba2f82194d334c440/327_18_2625_1477/2625.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=3e8cb5b917979f1bc42705010585e7c3)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg> </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">
                      1:49
                    </div>
                  </div>
                </div>
              </div>
              <figcaption class="caption caption--video caption caption--img" itemprop="description">
                <span class="inline-triangle inline-icon ">
                  <svg width="11" height="10" viewbox="0 0 11 10" class="inline-triangle__svg inline-icon__svg">
                    <path fill-rule="evenodd" d="M5.5 0L11 10H0z" />
                  </svg> </span> Trump announces travel ban from Europe to the US in bid to stem coronavirus – video
              </figcaption>
            </figure>
          </div>


          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockfive}}
        </div>
        <div class="corona-info__sections__five-button open-button accordion-five" id="button-five">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__six">
        <div class="corona-info__sections__six-content panel-six" iod="content-six">
          {{#blocksix}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <div class="media-primary">
            <figure class="element element-atom element-atom--main-media element-atom--media"
              data-atom-id="4464df66-9837-42da-b899-883af4ab9c4c" data-atom-type="media">
              <div data-media-atom-id="4464df66-9837-42da-b899-883af4ab9c4c"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-LjmNySNlMks" data-asset-id="LjmNySNlMks" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/c378a0f129363ffb36f8b9f719141ce6da4f3382/0_200_3500_2100/master/3500.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=74edcd1c9a39c65f697f277ac04a3ce5)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg> </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">
                      1:53
                    </div>
                  </div>
                </div>
              </div>
              <figcaption class="caption caption--main caption--video" itemprop="description">
                <span class="inline-triangle inline-icon ">
                  <svg width="11" height="10" viewbox="0 0 11 10" class="inline-triangle__svg inline-icon__svg">
                    <path fill-rule="evenodd" d="M5.5 0L11 10H0z" />
                  </svg> </span> Coronavirus outbreak described by WHO as 'pandemic' amid 'alarming levels of inaction'
                –&nbsp;video
              </figcaption>
            </figure>
          </div>
          <img src="{{image}}">
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blocksix}}
        </div>
        <div class="corona-info__sections__six-button open-button accordion-six" id="button-six">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__thrasher">
        <h1 class="corona-info__thrasher__headline">
          Help us with our coverage
        </h1>
        <p class="corona-info__thrasher__paragraph">
          Share your stories of how you have been affected by Coronavirus
        </p>
        <a class="corona-info__thrasher__button"
          href="https://www.theguardian.com/world/2020/mar/03/yes-worse-than-flu-busting-coronavirus-myths-covid-19">
          Share story <svg width="100%" height="100%" viewBox="0 0 21 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.506836 10.5482H17.1192L10.6046 18.3441L11.4515 19.191L20.5068 10.1139V9.2453L11.4515 0.168213L10.6046 1.01512L17.1192 8.81099H0.506836V10.5482Z"
              fill="#121212" />
          </svg>
        </a>
      </div>

      <div class="corona-info__sections__seven">
        <div class="corona-info__sections__seven-content panel-seven" iod="content-seven">
          {{#blockseven}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <div class="media-primary">
            <figure class="element element-atom element-atom--main-media element-atom--media"
              data-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1" data-atom-type="media">
              <div data-media-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-3jpXAMwRSu4" data-asset-id="3jpXAMwRSu4" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/703bed8f517ba54514848ffd0efe5a3eb2e2c67a/0_88_2560_1536/master/2560.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a963adb775b289b472afcdfd243799d8)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg> </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">
                      4:31
                    </div>
                  </div>
                </div>
              </div>
              <figcaption class="caption caption--main caption--video" itemprop="description">
                <span class="inline-triangle inline-icon ">
                  <svg width="11" height="10" viewbox="0 0 11 10" class="inline-triangle__svg inline-icon__svg">
                    <path fill-rule="evenodd" d="M5.5 0L11 10H0z" />
                  </svg> </span> How to stop the spread of coronavirus –&nbsp;video explainer
              </figcaption>
            </figure>
          </div>
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockseven}}
        </div>
        <div class="corona-info__sections__seven-button open-button accordion-seven" id="button-seven">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__eight">
        <div class="corona-info__sections__eight-content panel-eight" iod="content-eight">
          {{#blockeight}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <div class="media-primary">
            <figure class="element element-atom element-atom--main-media element-atom--media"
              data-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1" data-atom-type="media">
              <div data-media-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-3jpXAMwRSu4" data-asset-id="3jpXAMwRSu4" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/2827f486750d2803d8256e31e52333830292cd07/0_171_3500_2100/master/3500.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=384d444ef3a2215bc002e182d09fa870)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg> </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">
                      4:31
                    </div>
                  </div>
                </div>
              </div>
              <figcaption class="caption caption--main caption--video" itemprop="description">
                <span class="inline-triangle inline-icon ">
                  <svg width="11" height="10" viewbox="0 0 11 10" class="inline-triangle__svg inline-icon__svg">
                    <path fill-rule="evenodd" d="M5.5 0L11 10H0z" />
                  </svg> </span> How to stop the spread of coronavirus –&nbsp;video explainer
              </figcaption>
            </figure>
          </div>
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockeight}}
        </div>
        <div class="corona-info__sections__eight-button open-button accordion-eight" id="button-eight">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__nine">
        <div class="corona-info__sections__nine-content panel-nine" iod="content-nine">
          {{#blocknine}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <img src="{{image}}">
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blocknine}}
        </div>
        <div class="corona-info__sections__nine-button open-button accordion-nine" id="button-nine">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>

      <div class="corona-info__sections__ten">
        <div class="corona-info__sections__ten-content panel-ten" iod="content-ten">
          {{#blockten}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <img src="{{image}}">
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockten}}
        </div>
        <div class="corona-info__sections__ten-button open-button accordion-ten" id="button-ten">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>


      <div class="corona-info__sections__eleven">
        <div class="corona-info__sections__eleven-content panel-eleven" iod="content-eleven">
          {{#blockeleven}}
          <h2 class="corona-info__sections__headline">{{{sectionheadline}}}</h2>
          <div class="media-primary">
            <figure class="element element-atom element-atom--main-media element-atom--media"
              data-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1" data-atom-type="media">
              <div data-media-atom-id="ddc4ba48-47b8-4b2b-91d2-081cd3e143d1"
                class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos"
                data-channel-id="UCIRYBXDze5krPDzAEOxFGVA">
                <div id="youtube-3jpXAMwRSu4" data-asset-id="3jpXAMwRSu4" class="youtube-media-atom__iframe"></div>
                <div class="vjs-big-play-button youtube-media-atom__overlay"
                  style="background-image: url(https://i.guim.co.uk/img/media/ebf91c3056f38b3edf2134c5ab6e42cd176bf8e2/0_113_3500_2101/master/3500.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=9325b1d44d966fee83c3128c683d006e)">
                  <div class="youtube-media-atom__play-button vjs-control-text">
                    Play Video
                    <span class="inline-play inline-icon ">
                      <svg width="46" height="39" viewbox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                        <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z" />
                      </svg> </span>
                  </div>
                  <div class="youtube-media-atom__bottom-bar">
                    <div class="youtube-media-atom__bottom-bar__duration">
                      4:31
                    </div>
                  </div>
                </div>
              </div>
              <figcaption class="caption caption--main caption--video" itemprop="description">
                <span class="inline-triangle inline-icon ">
                  <svg width="11" height="10" viewbox="0 0 11 10" class="inline-triangle__svg inline-icon__svg">
                    <path fill-rule="evenodd" d="M5.5 0L11 10H0z" />
                  </svg> </span> How to stop the spread of coronavirus –&nbsp;video explainer
              </figcaption>
            </figure>
          </div>
          <h3 class="corona-info__sections__subheadline">{{{headline}}}</h3>
          <p class="corona-info__sections__paragraph">{{{paragraph}}}</p>
          {{/blockeleven}}
        </div>
        <div class="corona-info__sections__eleven-button open-button accordion-eleven" id="button-eleven">
          <svg width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0771484 1.7592L16.2271 17.9092H17.7726L33.9226 1.7592L32.4158 0.291016L16.9999 13.2728L1.58397 0.291016L0.0771484 1.7592Z"
              fill="#ffffff" />
          </svg>
          Read more
        </div>
      </div>
    </div>
  </div>
</div>